// Global Variables

// Typography
// ---------------
@baseFontSize:                 14px;
@baseTitleFontFamily:          "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseContentFontFamily:        Arial, Sans-serif;
@baseLineHeight:               14px;

// component height            
@baseHeight:                   8px;
@baseIconHeight:               @baseHeight * 2; // 16px
@baseButtonHeight:             @baseHeight * 3; // 24px
@baseBarHeight:                @baseHeight * 4; // 32px
@baseTitleHeight:              @baseHeight * 5; // 40px

// component width             
@baseWidth:                    8px;
@baseIconWidth:                @baseWidth * 2; // 16px
@baseButtonWidth:              @baseWidth * 3; // 24px
@baseBarWidth:                 @baseWidth * 4; // 32px

// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height
@fontSizeXLarge:               18px;
@fontSizeLarge:                16px;
@fontSizeMedium:               12px;
@fontSizeSmall:                11px;
@fontSizeXSmall:               10px;

@baseBorderRadius:             4px;
@borderRadiusLarge:            6px;
@borderRadiusSmall:            3px;

@basePopupZIndex:              88000;

// Component Basic Coloring
// ---------------------------
// Font color
@baseTextColor:                #000000;
@textColorGray:                #555555;
@textColorGrayDark:            #363636;
@textColorGrayLight:           #636363;
@textColorBlue:                #2184BA; //mostly used on icon-font
@textColorGreen:               #46A546;
@textColorOrange:              #F7941D;
// Border color
@baseBorderColor:              #CFCFCF;
// Background and Gradient
@baseBackgroundColor:          #FFFFFF;
@baseGradientStart:            #FEFEFE;
@baseGradientEnd:              #EEEEEE;

// Component State
// --------------------
// Active
@activeBorderColor:            #499EB3;
@activeGradientStart:          #C3F5FE;
@activeGradientEnd:            #86E2F9;
// Focus
@focusBorderColor:             #00B9FF;
// Hover
@hoverColor:                   #008BB6;
@hoverBorderColor:             #8FB9D0;
@hoverBackgroundColor:         #D6F0FD;
@hoverGradientStart:           #F2F9FE;
@hoverGradientEnd:             #D6F0FD;
// Selected
@selectedBackgroundColor:      #BEE7FC; //darken(@hoverBackgroundColor, 5%)
@selectedGradientStart:        #E5F4FB;
@selectedGradientEnd:          #D3EDFA;
// Selected Hover
@selectedHoverBackgroundColor: #C5E7F8; //darken(@selectedGradientEnd, 3%)
@selectedHoverGradientStart:   #CFEBF8; //darken(@selectedGradientStart, 5%)
@selectedHoverGradientEnd:     #A5DAF5; //darken(@selectedGradientEnd, 10%)
// Disabled
@disabledColor:                #AAAAAA;
@disabledBackgroundColor:      #F0F0F0;
@disabledOpacity:              0.6;
// Invalid
@invalidBorderColor:           #DD7777;
// Read-only
@readonlyBorderColor:          #E6E6E6;
@readonlyBackgroundColor:      #FAFAFA;
// Checked
@checkedBorderColor:           #C6DBE6;
@checkedGradientStart:         #F4FAFD;
@checkedGradientEnd:           #E2EFF6;

// Component independent variables
//------------------------------------------
@maskBackgroundColor:          #E0E1E3;
@loadingBackgroundColor:       #E3E3E3;
// scrollbar
@scrollbarBackgroundColor:     #DDDDDD;
@scrollbarGradientStart:       #FFFFFF;
@scrollbarGradientEnd:         #CFCFCF;
// drag and drop
@dragBackgroundColor:          #E0EAF0;
@dragHoverBackgroundColor:     #ADD2FF;
@dragAllowBorderColor:         #99CC99;
@dragAllowBackgroundColor:     #EEFFEE;
@dragDisAllowBorderColor:      #CC6666;
@dragDisAllowBackgroundColor:  #FFEEEE;
// splitter (hbox, vbox, borderlayout)
@splitterSize:                 8px;
@splitterColor:                #959595;
@splitterGradientStart:        #FDFDFD;
@splitterGradientEnd:          #F1F1F1;
// group (group, listgroup)
@groupGradientStart:           #FFFFFF;
@groupGradientEnd:             #E9F2FB;
// errorbox
@errorboxColor:                #990000;
@errorboxBorderColor:          #990000;
@errorboxBackgroundColor:      #FFEEEE;
// notification (bug ZK-1135: IE8 does not support rgba)
@notificationInfoColor:        rgba(33, 155, 166, 0.88);
@notificationWarningColor:     rgba(234, 67, 23, 0.88);
@notificationErrorColor:       rgba(190, 0, 5, 0.88);
@notificationArrowColor:       rgba(51, 51, 51, 0.9);
// progressmeter
@progressmeterGradientStart:   #E8F6FD;
@progressmeterGradientEnd:     #C6E9FA;
// window
@windowBackgroundColor:        #D9E5EF;
// panel
@panelBackgroundColor:         #E1EDF4;
