<%@ page contentType="text/css;charset=UTF-8" %>

@import "~./zul/less/_header.less";
@import "~./zul/less/_reset.less";
@import "~./zul/less/font/_all.less"; // Font-Awesome 3.1.1

html, body {
	height: 100%;
}

// affect ZK component only
[class^="z-"],
[class*=" z-"],
[class^="z-"]:after,
[class*=" z-"]:after,
[class^="z-"]:before,
[class*=" z-"]:before,
.z-borderbox {
	.applyCSS3('box-sizing', 'border-box');
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input,
input:focus,
textarea,
textarea:focus {
	-webkit-appearance: none;
	-moz-appearance: none;
	 outline: none;
	 -webkit-user-select: text;
}

input[type="radio"] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
	margin: 0px 2px 2px 2px;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	margin: 2px;
}

*:focus {
  outline: none;
}

fieldset { 
	border: 1px solid #c0c0c0; 
	margin: 0 2px; 
	padding: 0px; 
	border-radius: 0px; 
}

legend { 
	border: 0; padding: 0; 
}

<c:if test="${zk.gecko > 0}">
button::-moz-focus-inner {
	border: 0;
}
</c:if>
<c:if test="${empty c:property('org.zkoss.zul.theme.browserDefault')}">
body {
	margin: 0; padding: 0 5px;
}
</c:if>


<%-- mobile --%>
.mobile * {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
<%-- ZK JavaScript debug box --%>
.z-error {
	display: none;
	z-index: 9999999;
	position: absolute;
	top: 0;
	left: 40%;
	width: 450px;
	padding: 3px 5px 3px 3px;
	border: 1px solid #990000;
	.boxShadow('1px 1px 3px rgba(0, 0, 0, 0.35)');
	background-color: #FFEEEE;
	
	.messagecontent {
		padding: 0;
		border: 1px solid #990000;
		background-color: white;
	}
	.messages {
		padding: 2px 3px 15px;
		word-wrap: break-word;
		overflow: auto;
		.message {
			padding: 3px 0 2px;
			border-bottom: 1px solid #990000;
		}
	}
	.newmessage {
		background-color: #FFEEEE;
		display: none;
	}
	.button {
		cursor: pointer;	
		color: #990000;
		width: @baseIconWidth;
		height: @baseIconHeight;
		margin-left: 4px;
		float: right;
		> .z-icon-remove {
			font-size: @fontSizeXLarge;
		}
	}
	#zk_err-p {
		cursor: move;
		padding-top: 6px;
	}
	.errornumbers {
		padding-left: 4px;
		color: #990000;
		font-weight: bold;
		float: left;
	}
}

div.z-log {
	text-align:right; width:50%; right:10px; bottom:5px;
	position:absolute; z-index: 99000;
	
	textarea {
		width: 100%;
		border-color: rgba(82,168,236,0.8);
		outline: 0;
		.boxShadow('inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)');
	}
	button {
		font-size: @fontSizeXSmall;
	}
}

<%-- General --%>
.noscript {<%-- the content of noscript --%>
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 32000;
	top: 0;
	left: 0;
	filter: alpha(opacity=60);
	opacity: .6;
	zoom: 1;
	text-align: center;
	background: #E0E1E3;

	p {
		background: white;
		font-weight: bold;
		color: black;
		margin: 10% 15%;
		padding: 10px 0;
		border: 1px solid black;
		filter: alpha(opacity=100);
		opacity: 1;
	}
}

.z-label, .z-radio-content, .z-checkbox-content, .z-loading {
	font-family: @baseContentFontFamily;
	font-size: @fontSizeMedium;
	font-weight: normal;
}
.z-temp, .z-modal-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	opacity: .6;
	background: #E0E1E3;
}
.z-initing {
	width: 60px; height: 60px;
	position: absolute; right: 10px; bottom: 10px;
	z-index: 32000;
	background: transparent no-repeat center;
	background-image: url('http://www.zkoss.org/zk/img/${z:encodeWithZK("zkpowered.png")}');
}
.z-uptime {
	background-image: url('http://www.zkoss.org/zk/img/${z:encodeWithZK("zkuptime.png")}');
}
.z-loading, .z-apply-loading {
	position: absolute;
	cursor: wait;
	background-color: #E3E3E3;
	border: 1px solid #C5C5C5;
	white-space: nowrap;
	padding: 3px;
}
.z-loading {
	z-index: 31000;
	left: 0; top: 0;
}
.z-apply-loading {
	z-index: 89500;
	overflow: hidden;
}
.z-loading-indicator, .z-apply-loading-indicator {
	border: 1px solid #C5C5C5;
	background-color: #FFFFFF;
	color: #363636;
	white-space: nowrap;
}
.z-loading-indicator {
	padding: 6px;
}
.z-apply-loading-indicator {
	padding: 2px;
	font: normal @fontSizeMedium @baseTitleFontFamily;
}
.z-apply-loading-icon,
.z-loading-icon,
.z-renderdefer {
	height: 16px; width: 16px;
	background: transparent no-repeat center;
	.encodeThemeURL(background-image, '~./zul/img/misc/progress.gif');
}
.z-apply-loading-icon,
.z-loading-icon {
	vertical-align:top; display:inline-block;
}
.z-apply-mask {
	width: 100%;
	height: 100%;
	background: #E0E1E3;
	position: absolute;
	z-index: 89000;
	top: 0;
	left: 0;
	opacity: .6;
}
.z-inline-block { <%-- used with label/checkbox and others to ensure the dimension --%>
	vertical-align:top;<%-- vertical-align: make it looks same in diff browsers --%>
	display:inline-block;
}
.z-word-wrap {
	word-wrap: break-word;
}
.z-word-nowrap {
	white-space: nowrap;
}
.z-overflow-hidden {
	overflow: hidden;
}
.z-dd-stackup {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 16800;
	.encodeURL(background-image, '~./img/spacer.gif');
}

.z-temp * { <%-- temporary --%>
	color: white; background-color: white; font-size: 5px; text-decoration: none;
}
.z-temp {
	.z-loading {
		background-color: #E3E3E3;
		top: 49%;
		left: 46%;
	}
	.z-loading-indicator {
		font-size: @fontSizeMedium;
		color: #363636;
	}
}
<%-- Fix float issue for CSS --%>
.z-clear {
	clear: both;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

<%-- Shadow for not CSS3 --%>
<c:if test="${zk.ie < 9};">
.z-shadow {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	overflow: hidden;
}
.z-shadow-wrapper{
	padding-bottom:6px;
	height:100%;
}
.z-shadow .z-shadow-cl{
	background: transparent repeat-y 0 0;
	.encodeThemeURL(background-image, '~./zul/img/shadow-cl.png');
	padding-left: 6px;
	overflow: hidden;
	height:100%;
	zoom: 1;
}
.z-shadow .z-shadow-cr{
	background: transparent repeat-y right;
	.encodeThemeURL(background-image, '~./zul/img/shadow-cr.png');
	padding-right: 6px;
	overflow: hidden;
	height:100%;
	zoom: 1;
}
.z-shadow .z-shadow-cm {
	background: transparent repeat 0 0;
	.encodeThemeURL(background-image, '~./zul/img/shadow-m.png');
	overflow: hidden;
	height:100%;
	zoom: 1;
}

.z-shadow .z-shadow-tl,
.z-shadow .z-shadow-tr,
.z-shadow .z-shadow-bl,
.z-shadow .z-shadow-br {
	background:transparent no-repeat 0 top;
	font-size:0;
	height:6px;
	line-height:0;
	margin-right:6px;
	zoom:1;
}
.z-shadow .z-shadow-tr,
.z-shadow .z-shadow-br {
	background-position: right -6px;
	margin-right:-6px;
	position:relative;
}
.z-shadow .z-shadow-tl,
.z-shadow .z-shadow-tr{
	.encodeThemeURL(background-image, '~./zul/img/shadow-tlr.png');
}

.z-shadow .z-shadow-bl,
.z-shadow .z-shadow-br{
	.encodeThemeURL(background-image, '~./zul/img/shadow-blr.png');
}
</c:if>
<%-- Drag-Drop --%>
.z-dragged {
	background: none no-repeat scroll 0 0 #E0EAF0;
	color: #888888;
}
.z-drag-over {
	background: none no-repeat scroll 0 0 #ADD2FF;
}
span.z-drop-allow, span.z-drop-disallow {
	background: none no-repeat scroll 0 0 #FFFFFF;
	vertical-align: top;
	display: inline-block;
	width: 16px;
	min-height: 16px;
	height: 16px;
}
div.z-drop-ghost {
	border: 1px solid #CCCCCC;
}
div.z-drop-cnt {
	background: none no-repeat scroll 0 0 #FFFFFF;
	width: 120px;
	height: 16px;
	padding: 3px;
	font-size: @fontSizeMedium;
	font-weight: normal;
	font-family: @baseContentFontFamily;
}
<%-- 5.0.4 --%>
div.z-drop-allow {
	border: 1px solid #99CC99;
}
div.z-drop-disallow {
	border: 1px solid #CC6666;
}
div.z-drop-allow div.z-drop-cnt,
span.z-drop-allow {
	background: none no-repeat scroll 0 0 #EEFFEE;
}
span.z-drop-allow {
	.encodeThemeURL(background-image, '~./zul/img/misc/drag-allow.png');
}
div.z-drop-disallow div.z-drop-cnt,
span.z-drop-disallow {
	background: none no-repeat scroll 0 0 #FFEEEE;
}
span.z-drop-disallow {
	.encodeThemeURL(background-image, '~./zul/img/misc/drag-disallow.png');
}
.z-drag-ghost {
	list-style:none;
}

// Focus Anchor
.z-focus-a {
	position: absolute;
	left: 0; top: 0;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	background: transparent !important;
	font-size: 0 !important;
	line-height: 0 !important;
	width:1px !important;
	height:1px !important;
	-moz-outline:0 none; outline:0 none;
	-moz-user-select:text; -khtml-user-select:text;
	overflow:hidden;
	&:focus {
		-moz-outline:0 none; outline:0 none;
	};
}

<%-- upload button --%>
span.z-upload {
	position: relative;
	padding: 0; margin: 0;
	font-size: 0; width: 0; height: 0;
	display:inline-block;
}
span.z-upload input {
	position: absolute;
	cursor: pointer;
	font-size: 45pt;
	z-index: 1; margin: 0; padding: 0;
	opacity: 0;
}
.z-upload-icon {
	overflow: hidden;
	.encodeThemeURL(background-image, '~./zul/img/misc/prgmeter.png');
}

<%-- fileupload dialog --%>
.z-fileupload-img {
	width: 16px;
	padding-top: 4px;
}
.z-fileupload-add,
.z-fileupload-remove {
	cursor: pointer;
	width: 16px;
	height: 17px;
	color: #1096BC;
}
.z-fileupload-progress {
	width: 300px;
}
.z-fileupload-manager {
	width: 350px;
}
//Selectbox
.z-selectbox {
	font-family: @baseContentFontFamily;
	font-size: @fontSizeMedium;
}
//scrollbar
.z-scrollbar {
	position: absolute;
	opacity: 0;
	.applyCSS3('transition-property', 'opacity');
	.applyCSS3('transition-duration', '0.5s');
	.applyCSS3('transition-timing-function', 'cubic-bezier(0.33, 0.66, 0.66, 1)');
	&-embed {
		background: lighten(#DDDDDD, 5%);
		opacity: 1.0;
		filter: alpha(opacity=100);
	}
	//vertical
	&-vertical {
		top: 0;
		right: 0;
		width: 16px;
		height: 100%;
		.z-scrollbar-wrapper {
			position: absolute;
			top: 16px;
			left: 0;
			width: 100%;
			.z-scrollbar-indicator {
				position: absolute;
				width: 13px;
				left: 2px;
				cursor: pointer;
				border: 1px solid darken(#CFCFCF, 30%);
				.borderRadius(2px);
				.horGradient(#FFFFFF, #CFCFCF);
				z-index: 100;
				.transform('translate(0, 0)');
				> .z-icon-reorder:before {
					width: @baseIconWidth;
					height: @baseIconHeight;
					position: absolute;
					left: -2px;
					top: 50%;
					margin-top: -8px;
					color: #666666;
					.transform('scale(0.5, 0.7)');
				}
			}
			.z-scrollbar-rail {
				height: 100%;
			    width: 100%;
			    background: #DDDDDD;
			}
		}
	}
	&-up,
	&-down {
		position: absolute;
		width: @baseIconWidth;
		height: @baseIconHeight;
		cursor: pointer;
		font-size: @baseFontSize;
		background: #DDDDDD;
	}
	&-up {
		> .z-icon-caret-up:before {
			width: @baseIconWidth;
			height: @baseIconHeight;
			position: absolute;
			left: 4px;
			top: -1px;
		}
	}
	&-down {
		bottom: 0;
		> .z-icon-caret-down:before {
			width: @baseIconWidth;
			height: @baseIconHeight;
			position: absolute;
			left: 4px;
			top: 1px;
		}
	}
	//horizontal
	&-horizontal {
		bottom: 0;
		left: 0;
		width: 100%;
		height: 16px;
		.z-scrollbar-wrapper {
			position: absolute;
			bottom: 0;
			left: 16px;
			height: 100%;
			.z-scrollbar-indicator {
				position: absolute;
				height: 13px;
				top: 1px;
				cursor: pointer;
				border: 1px solid darken(#CFCFCF, 30%);
				.borderRadius(2px);
				.verGradient(#FFFFFF, #CFCFCF);
				z-index: 100;
				.transform('translate(0, 0)');
				> .z-icon-reorder:before {
					position: absolute;
					left: 50%;
					top: -3px;
					margin-left: -8px;
					color: #111111;
					.transform('rotate(90deg) scale(0.5, 0.7)');
				}
			}
			.z-scrollbar-rail {
				width: 100%;
				height: 100%;
				background: #DDDDDD;
			}
		}
	}
	&-left,
	&-right {
		position: absolute;
		width: 16px;
		height: 16px;
		padding: 0 6px 0 5px;
		cursor: pointer;
		font-size: @baseFontSize;
		background: #DDDDDD;
	}
	&-right {
		right: 0;
	}
}
