@import "~./zul/less/_header.less";
//reset table
.resetTable() {
	table {
		border-spacing: 0;
		th, td {
			background-clip: padding-box;
			padding: 0;
		}
		th {
			text-align: inherit;
		}
	}
}

//tree
.z-tree {
	border: 1px solid @baseBorderColor;
	overflow: hidden;
	zoom: 1;
	//tree header div
	&-header {
		.resetTable();
		position: relative;
		overflow: hidden;
		width: 100%;
		.verGradient();
		border-bottom: 1px solid @baseBorderColor;
		&.z-tree-header-bar {
			display: none;
			border-left: 1px solid @baseBorderColor;
			border-bottom-width: 0;
			width: @baseIconWidth;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 100;
		}
	}
	//tree body div
	&-body {
		overflow: hidden;
		.resetTable();
	}
	&-emptybody td {
		font-family: @baseContentFontFamily;
		font-size: @fontSizeMedium;
		color: @disabledColor;
		font-style: italic;
		text-align: center;
	}
	//tree footer div
	&-footer {
		overflow: hidden;
		background: darken(@baseBackgroundColor, 2%);
		border-top: 1px solid @baseBorderColor;
		.resetTable();
	}
}
//tree open icon and indent space
.z-tree {
	&-icon,
	&-line {
		width: @baseIconWidth;
		height: @baseIconHeight;
		display: inline-block;
		vertical-align: middle;
	}
	&-icon {
		cursor: pointer;
		font-size: @baseFontSize;
		position: relative;
	}
	&-open,
	&-close {
		display: inline-block;
		position: absolute;
		top: 1px;
		left: 8px;
		color: @iconColor;
		&:hover {
			color: @iconHoverColor;
		}
	}
	&-open {
		left: 5px;
	}
}
//treecols
.z-treecols {
	th:last-child {
		border-right: none;
	}
}
.z-treecol {
	background-clip: padding-box;
	overflow: hidden;
	white-space: nowrap;
	padding: 0;
	border-right: 1px solid @baseBorderColor;
	position: relative;
	&-sort {
		cursor: pointer;
		&:hover {
			.verGradient(@hoverGradientStart, @hoverGradientEnd);
		}
	}
	&-sizing,
	&-sizing .z-treecol-content {
		cursor: e-resize;
	}
}
//tree row and cell
.z-treerow {
	//tree cell
	.z-treecell {
		overflow: hidden;
		cursor: pointer;
		&:last-child {
			border-right: none;
		}
	}
	&:hover > .z-treecell {
		.verGradient(@hoverGradientStart, @hoverGradientEnd);
		background-clip: padding-box;
		position: relative;
	}
	//check mark
	&-checkable {
		width: @baseIconWidth;
		height: @baseIconHeight;
		border: 1px solid @baseBorderColor;
		display: inline-block;
		vertical-align: middle;
		.verGradient();
		&.z-treerow-radio {
			.borderRadius(8px);
		}
		.z-treerow-icon {
			display: none;
			cursor: default;
		}
	}
	//selected tree cell
	&.z-treerow-selected {
		.z-treecell {
			.verGradient(@selectedGradientStart, @selectedGradientEnd);
			background-clip: padding-box;
			position: relative;
		}
		&:hover > .z-treecell {
			.verGradient(@selectedHoverGradientStart, @selectedHoverGradientEnd);
		}
	}
	//selected check mark
	&-selected {
		.z-treerow-icon {
			display: block;
			line-height: @baseLineHeight;
			padding-left: 1px;
			color: @checkedColor;
			&.z-icon-ok {} //for checkbox, use font-awesome
			&.z-icon-radio { //for radio
				width: 8px;
				height: 8px;
				.borderRadius(4px);
				background: @checkedColor;
				padding: 0;
				margin: 3px;
			}
		}
	}
	//disabled
	&.z-treerow-disabled {
		* {
			color: @disabledColor !important;
			cursor: default !important;
		}
		&:hover > .z-treecell {
			.resetGradient();
			position: relative;
		}
	}
}
//content
.z-treecol-content,
.z-treecell-content,
.z-treefooter-content {
	font-family: @baseContentFontFamily;
	font-size: @fontSizeMedium;
	color: @textColorGrayLight;
	overflow: hidden;
	padding: 4px 5px;
	line-height: @baseButtonHeight;
}
.z-treecol-content {
	font-weight: bold;
	padding: 4px 5px 3px;
	position: relative;
}
.z-treecell-content {
	padding: 4px 2px;
	line-height: @baseLineHeight;
}
.z-treecell-text {
	vertical-align: middle;
}
//paging
.z-tree-paging {
	&-top {
		border-bottom: 1px solid @baseBorderColor;
		overflow: hidden;
		width: 100%;
	}
	&-bottom {
		border-top: 1px solid @baseBorderColor;
		overflow: hidden;
		width: 100%;
	}
}