@import "~./zul/less/_header.less";

@emptyColor: #7D7D7D;
@gridBorder: #CFCFCF;
@hoverGradientStart: #F2F9FE;
@hoverGradientEnd: #D6F0FD;
@stripBackground: #F7F7F7;
@footerBackground: #F9F9F9;
@headFootColor: #636363;
@groupGradientStart: #FFFFFF;
@groupGradientEnd: #E9F2FB;

//grid
.z-grid {
	border: 1px solid @gridBorder;
	overflow: hidden;
	zoom: 1;
}
//grid header
.z-grid-header {
	overflow: hidden;
	width: 100%;
}
//grid body
.z-grid-body {
	overflow: auto;
}
.z-grid-empty-body td {
	font-family: @baseContentFontFamily;
	font-size: @fontSizeMedium;
	color: @emptyColor;
	font-style: italic;
	text-align: center;
}
//grid footer
.z-grid-footer {
	overflow: hidden;
	background: @footerBackground;
	border-top: 1px solid @gridBorder;
	.z-footer {
		overflow: hidden;
		padding: 6px 7px;
	}
}
//column and auxhead
.z-columns,
.z-auxhead {
	th:last-child {
		border-right: none;
	}
}
.z-column {
	text-align: left;
}
.z-column,
.z-auxheader {
	.verGradient();
	overflow: hidden;
	white-space: nowrap;
	padding: 0;
	border-width: 0 1px 1px 1px;
	border-color: transparent @gridBorder @gridBorder #FFFFFF;
	border-style: none solid solid solid;
	position: relative;
}
.z-column-hover,
.z-auxheader-hover {
	.verGradient(@hoverGradientStart, @hoverGradientEnd);
}
.z-column .z-column-content {
	position: relative;
}
.z-column-sort {
	 .z-column-content {
		cursor: pointer;
	}
	.z-column-sort-icon {
		position: absolute;
		top: -3px;
		left: 50%;
		color: #7094B3;
	}
}
.z-column-hover .z-column-menu-icon {
	display: block;
}
.z-column-menu-icon {
	display: none;
	position: absolute;
	z-index: 15;
	cursor: pointer;
	top: 0;
	right: 0;
	width: 23px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
	text-align: center;
	border-left: 1px solid #A5CDE1;
	.boxShadow('inset 1px 0 #FFFFFF');
	color: black;
	&:hover {
		.verGradient(darken(@hoverGradientStart, 5%), darken(@hoverGradientEnd, 10%));
	}
}
//row and cell
.z-row:hover .z-row-inner {
	.verGradient(@hoverGradientStart, @hoverGradientEnd);
}
.z-grid-odd {
	background: @stripBackground;
}
.z-row-inner {
	padding: 5px;
	border-width: 1px;
	border-color: transparent transparent transparent #FFFFFF;
	border-style: solid;
}
//content
.z-column-content,
.z-auxheader-content,
.z-row-content,
.z-group-content,
.z-groupfoot-content,
.z-footer-content {
	font-family: @baseContentFontFamily;
	font-size: @fontSizeMedium;
	color: @headFootColor;
	overflow: hidden;
}
.z-column-content,
.z-auxheader-content {
	font-weight: bold;
	padding: 7px 5px;
	line-height: 17px;
}
.z-row-content,
.z-group-content,
.z-groupfoot-content,
.z-footer-content {
	line-height: 20px;
}
//faker
.z-grid-faker,
.z-grid-faker th,
.z-grid-faker div {
	height: 0 !important;
	border: none !important;
	padding: 0 0 !important;
	margin-top: 0 0 !important;
}
//Group
.z-group-inner,
.z-groupfoot-inner {
	.verGradient(@groupGradientStart, @groupGradientEnd);
	position: relative;
	padding: 5px;
	border-width: 1px 0;
	border-color: @gridBorder;
	border-style: solid;
}
.z-group-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	vertical-align: bottom;
	.encodeThemeURL(background, '~./zul/img/tree/arrow-toggle.png', no-repeat);
}
.z-group-icon-open {
	background-position: 0 -18px;
}
.z-group-icon-close {
	background-position: 0 0;
}
.z-groupfoot-inner {
	.verGradient(@groupGradientEnd, @groupGradientStart);
	border-width: 0;
	padding: 6px 5px;
}
//column menu
.z-columns-menugrouping .z-menuitem-image {
	.encodeThemeURL(background-image, '~./zul/img/grid/menu-group.png');
}
.z-columns-menuungrouping .z-menuitem-image {
	.encodeThemeURL(background-image, '~./zul/img/grid/menu-ungroup.png');
}
.z-columns-menuascending .z-menuitem-image {
	.encodeThemeURL(background-image, '~./zul/img/grid/menu-arrowup.png');
}
.z-columns-menudescending .z-menuitem-image {
	.encodeThemeURL(background-image, '~./zul/img/grid/menu-arrowdown.png');
}
