@import "~./zul/less/_header.less";

@windowBackgroundColor: #D9E5EF;
@iconColor: #777777;
@framePadding: 4px;

.defaultOverflowZoom() {
	overflow: hidden;
	zoom: 1;
}

.z-window {
	.defaultOverflowZoom();
	background: @windowBackgroundColor;
	border: 1px solid darken(@baseBorderColor, 20%);
	padding: @framePadding;
	.borderRadius();

	&-shadow {
		.boxShadow('0 0 4px rgba(0, 0, 0, 0.25)');
	}

	&-header {
		font-family: @baseTitleFontFamily;
		font-size: @fontSizeMedium;
		font-weight: normal;
		cursor: default;
		background-color: @windowBackgroundColor;
		color: @textColorLight;
		line-height: @baseButtonWidth;
		.defaultOverflowZoom();
		padding: 3px 0 5px 0;
		
		&-move {
			cursor: move;
		}
	}
	
	&-content {
		margin: 0;
		padding: 4px;
		background-color: @baseBackgroundColor;
		border: 1px solid @baseBorderColor;
		.defaultOverflowZoom();
		&:first-child {
			height: 100%;
		}
	}
	
	&-icon {
		overflow: hidden;
		margin: auto 1px;
		display: block;
		.verGradient();
		.borderRadius();
		border: 1px solid @baseBorderColor;
		float: right;
		cursor: pointer;
		text-align: center;
		color: @iconColor;
		
		&:hover {
			.resetGradient();
			border-color: @hoverBorderColor;
			background-color: @hoverBackgroundColor;
		}
	}

	&-maximize, &-minimize, &-close {
		width: @baseButtonWidth + 4;
		height: @baseButtonHeight;
		font-size: @fontSizeLarge;
	}
	
	&-close {
		font-size: @fontSizeXLarge;
	    line-height: 23px;
	}
	
	&-minimize {
		padding-top: 5px;
	}
	
	&-resize-faker {
		position: absolute;
		border: 1px dashed #1854C2;
		overflow: hidden;
		z-index: 60000;
		left: 0;
		top: 0;
		background-color: #D7E6F7;
		.opacity(0.5);
	}
	
	&-move-ghost {
		.topBorderRadius();
		position: absolute;
		background: #D7E6F7;
		overflow: hidden;
		padding: 0;
		.opacity(0.65);
		cursor: move !important;
		border: 1px solid #9F9F9F;
		
		.z-window-header {
			padding: 7px 4px 5px 4px;
		}

		dl {
			border-top: 1px solid #9F9F9F;
			margin: 0;
			padding: 0;
			overflow: hidden;
			display: block;
			line-height: 0;
			font-size: 0;
		}
	}

	&-popup {
		.topBorderRadius();
		padding: @framePadding @framePadding 0 @framePadding;

		.z-window-content {
			border-width: 0 0 0 0;
			margin: 0px -1 * @framePadding -1 * @framePadding -1 * @framePadding;
		}

		&.z-window-noheader {
			padding-top: 0;

			z-window-content {
				margin: 0px;
			}
		}

		&.z-window-noheader:not(.z-window-noborder) .z-window-content {
			margin: 0px -1 * @framePadding;
		}
	}
	
	&-modal&-shadow, &-highlighted&-shadow {
		.borderRadius();
		.boxShadow('inset 0px 1px 1px #FFFFFF, 0 0 4px rgba(0, 0, 0, 0.7)');
	}
	
	&-embedded {
		.borderRadius('0px');

		.z-window-shadow {
			.boxShadow('none');
		}		
	}
	
	&-noborder {
		border: 0px;
		padding: @framePadding @framePadding 0 @framePadding;

		&.z-window-noheader {
			padding: 0;
		}

		.z-window-content {
			border: 0;			
		}

		&:not(.z-window-noheader) .z-window-content {
			margin: 0 -1 * @framePadding;
		}

		&.z-window-shadow {
			.boxShadow('0 0 3px rgba(0, 0, 0, 0.5)');
		}
	}
}

.z-messagebox {
	&-window.z-window-modal .z-window-content, 
	&-window.z-window-highlighted .z-window-content {
		padding: 17px;
		padding-bottom: 15px;
	}
	
	& .z-label {
		font-family: @baseContentFontFamily;
		font-size: @fontSizeMedium;
		color: @textColorLight;
	}
	
	&-button {
		min-width: 48px;
		width: 100%;
	}

	&-icon {
		display: inline-block;
		background-repeat: no-repeat;
		vertical-align: top;
		cursor: pointer;
		border: 0;
		width: @baseBarWidth;
		height: @baseBarHeight;
		font-size: 30px;
		text-align: center;
	}

	&-question {
		.encodeThemeURL(background-image, '~./zul/img/msgbox/question-btn.gif');
	}

	&-exclamation {
		.encodeThemeURL(background-image, '~./zul/img/msgbox/warning-btn.gif');
	}

	&-information {
		.encodeThemeURL(background-image, '~./zul/img/msgbox/info-btn.gif');
	}

	&-error {
		.encodeThemeURL(background-image, '~./zul/img/msgbox/stop-btn.gif');
	}
}