<sect2 id="Menu"><title>Menu</title>
<para>
<code>An element, much like a button, that is placed on a menu bar. When the user clicks the menu element, the child </code>
<code>Menupopup</code>
<code> of the menu will be displayed. This element is also used to create submenus of </code>
<code>Menupopup</code>
<code>.</code>
<code> </code>
</para>
<para>
<graphic fileref="images/Menu.png"/>
<code/>
</para>
<programlisting>&lt;menu label="File"&gt;&#13;    &lt;menupopup&gt;&#13;        &lt;menuitem label="New" onClick="alert(self.label)"/&gt;&#13;        &lt;menuitem label="Open" onClick="alert(self.label)"/&gt;&#13;        &lt;menuitem label="Save" onClick="alert(self.label)"/&gt;&#13;        &lt;menuseparator/&gt;&#13;        &lt;menuitem label="Exit" onClick="alert(self.label)"/&gt;&#13;    &lt;/menupopup&gt;&#13;&lt;/menu&gt;&#13;</programlisting><sect3><title>Class Name</title>
<para>
<code>org.zkoss.zul.Menu</code> </para></sect3><sect3><title>Supported Child Components</title>
<para>*org.zkoss.zul.Menupopup</para></sect3><sect3><title>Supported Events</title>
<para>*NONE</para></sect3><sect3><title>Properties</title>
<para>*NONE</para></sect3><sect3><title>Methods</title>
<informaltable frame="all">
<tgroup cols="4">
<thead>
<row>
<entry>
<para>Name</para>
</entry>
<entry>
<para>Description</para>
</entry>
<entry>
<para>Data Type</para>
</entry>
<entry>
<para>Values</para>
</entry>
</row>
</thead><tbody>
<row>
<entry>
<para>
<code>getMenupopup()</code>
</para>
</entry>
<entry>
<para>Returns the <code>Menupopup</code> it owns, or null if not available.</para>
</entry>
<entry>
<para>
<code>Object</code>
</para>
</entry>
<entry>
<para>
<code>&lt;null&gt;</code>
</para>
</entry>
</row>
<row>
<entry>
<para>
<code>isTopmost()</code>
</para>
</entry>
<entry>
<para>Returns whether this is an top-level menu, i.e., not owning by another <code>Menupopup</code>.</para>
<para>Values: <code>true | false</code>
</para>
</entry>
<entry>
<para>
<code>Boolean</code>
</para>
</entry>
<entry>
<para>
<code>True</code>
</para>
</entry>
</row>
<row>
<entry>
<para>
<code>getOutAttrs()</code>
</para>
</entry>
<entry>
<para/>
</entry>
<entry>
<para/>
</entry>
<entry>
<para>
<code>String</code>
</para>
</entry>
</row>
<row>
<entry>
<para>
<code>insertBefore(org.zkoss.zk.ui.Component child, org.zkoss.zk.ui.Component insertBefore) </code>
</para>
</entry>
<entry>
<para/>
</entry>
<entry>
<para/>
</entry>
<entry>
<para>
<code>boolean</code>
</para>
</entry>
</row></tbody></tgroup>
</informaltable></sect3><sect3><title>Inherited From </title>Inherited <informaltable frame="all">
<tgroup cols="1">
<thead>
<row>
<entry>
<para>Inherited From</para>
</entry>
</row>
</thead><tbody>
<row>
<entry>
<para>
<link linkend="LabelImageElement">
<code>org.zkoss.zul.impl.LabelImageElement</code>
</link>
</para>
</entry>
</row>
<row>
<entry>
<para>
<link linkend="LabelElement">
<code>org.zkoss.zul.impl.LabelElement</code>
</link>
</para>
</entry>
</row>
<row>
<entry>
<para>
<link linkend="XulElement">
<code>org.zkoss.zul.impl.XulElement</code>
</link>
</para>
</entry>
</row>
<row>
<entry>
<para>
<link linkend="HtmlBasedComponent">
<code>org.zkoss.zk.ui.HtmlBasedComponent</code>
</link>
<code> </code>
</para>
</entry>
</row>
<row>
<entry>
<para>
<link linkend="AbstractComponent">
<code>org.zkoss.zk.ui.AbstractComponent </code>
</link>
</para>
</entry>
</row></tbody></tgroup>
</informaltable>
<para/></sect3></sect2>