@import "~./zul/less/_header.less";

.z-caption {
	width: 100%;
	height: @baseButtonHeight;
	font-size: @fontSizeMedium;
	white-space: nowrap;
	height: auto;

	&-content {
		margin-right: 4px;
		display: inline-block;
		line-height: @baseButtonHeight;
	}

	.z-label {
		line-height: @baseIconHeight;
		padding: 4px 0px;
		margin-right: 4px;
		display: inline-block;
	}

	.z-button, .z-toolbarbutton {
		margin-right: 4px;
		top: -1px;
		position: relative;
	}

	&-image {
		vertical-align: middle;
	}

	input {
		font-size: @fontSizeSmall;
	}

	.z-toolbar {
		.z-a, .z-a:visited, .z-a:hover {
			background: none;
			border: 0;
			color: #FFFFFF;
		}
	}

	.z-a, .z-a:visited {
		font-size: @fontSizeSmall; 
		font-weight: normal; 
		color: @baseTextColor; 
		background: none;
		text-decoration: none;
	}

	.z-a:hover {
		text-decoration: underline;
	}
}