@import "~./zul/less/_header.less";

.z-caption {
	width: 100%;
	height: @baseButtonHeight;
	font-size: @fontSizeMedium;
	white-space: nowrap;

	&-content {
		float: left;
		margin-right: 4px;
	}

	.z-label {
		line-height: @baseLineHeight + 2;
		padding: 4px 0px;
		margin-right: 4px;
		display: inline-block;
	}

	.z-button {
		margin-top: -2px;
		margin-right: 4px;
	}

	&-image {
		vertical-align: middle;
	}

	input {
		font-size: @fontSizeSmall;
	}

	.z-toolbar {
		.z-a,
		.z-a:visited,
		.z-a:hover {
			background: none;
			border: 0;
			color: #FFFFFF;
		}
	}

	.z-a,
	.z-a:visited {
		font-size: @fontSizeSmall; 
		font-weight: normal; 
		color: @baseTextColor; 
		background: none;
		text-decoration: none;
	}

	.z-a:hover {
		text-decoration: underline;
	}
}