@import "~./zul/less/_header.less";

.z-combobutton {
	display: inline-block;
	min-height: @baseButtonHeight;
}

.z-combobutton {

	&-input {
		.buttonBackground();
		font-family: @baseContentFontFamily;
		font-size: @fontSizeMedium;
		font-weight: normal;
		padding: 4px 5px;
		border: 1px solid #A6A6A6;
		border-right: 0;
		margin: 0;
		min-height: @baseButtonHeight;
		.borderRadius(3px 0 0 3px);
		line-height: @baseLineHeight;
		height: @baseButtonHeight;
		color: black;
	}

	&-button {
		.buttonBackground();
		vertical-align: middle;
		cursor: pointer;
		padding: 4px 4px 4px 6px;	
		border: 1px solid #A6A6A6;
		border-left: 1px solid #CFCFCF;
		overflow: hidden;
		display: inline-block;
		font-size: @fontSizeLarge;
		line-height: @baseLineHeight;
		min-width: @baseButtonWidth;
		height: @baseButtonHeight;
		color: #363636;
		.borderRadius(0 3px 3px 0);

		button[disabled] + & {
			&:hover, &:active {
				border-color: #CFCFCF;
				.resetGradient();
				.boxShadow('none');
			}
		}
	}

	&-input:hover, &-button:hover {
		border-color: #AEAEAE;
		.buttonBackground(#E1E1E1, #E1E1E1);
	}

	&-input:active, &-button:active {
		border-top-color: #808080;
		border-left-color: #808080;
		border-bottom-color: #B6B6B6;
		border-right-color: #B6B6B6;
		.buttonBackground(#EEEEEE, #FEFEFE);
		.boxShadow('inset 1px 1px 1px rgba(210, 210, 210, 0.75), 0 0 7px #CFCFCF');
	}
}