@import "~./zul/less/_header.less";

@buttonBorder: darken(@baseBorderColor, 15%);

.z-combobutton {
	display: inline-block;
	min-height: @baseButtonHeight;

	&-content {
		.verGradient();
		font-family: @baseContentFontFamily;
		font-size: @fontSizeMedium;
		font-weight: normal;
		padding: 4px 5px;
		border: 1px solid @buttonBorder;
		border-right: 0;
		margin: 0;
		min-height: @baseButtonHeight;
		.leftBorderRadius(@borderRadiusSmall);
		line-height: @baseLineHeight;
		height: @baseButtonHeight;
		color: @baseTextColor;
	}

	&-button {
		.buttonBackground();
		vertical-align: middle;
		cursor: pointer;
		padding: 4px 4px 4px 6px;	
		border: 1px solid @buttonBorder;
		border-left: 1px solid @baseBorderColor;
		overflow: hidden;
		display: inline-block;
		font-size: @fontSizeLarge;
		line-height: @baseLineHeight;
		min-width: @baseButtonWidth;
		height: @baseButtonHeight;
		color: @textColorLight;
		.rightBorderRadius(@borderRadiusSmall);

		button[disabled] + & {
			&:hover, &:active {
				border-color: @baseBorderColor;
				.resetGradient();
				.boxShadow('none');
			}
		}
	}

	&:not(.z-combobutton-toolbar) &-content:hover, 
	&:not(.z-combobutton-toolbar) &-button:hover {
		border-color: @buttonBorder;
		//background: #C6E6F7;
		.verGradient(@hoverGradientStart, @hoverGradientEnd);
	}

	&:not(.z-combobutton-toolbar) &-content:active, 
	&:not(.z-combobutton-toolbar) &-button:active {
		border-color: #808080 #B6B6B6 #B6B6B6 #808080;
		.verGradient(@baseGradientEnd, @baseGradientStart);
		.boxShadow('inset 1px 1px 1px rgba(210, 210, 210, 0.75), 0 0 7px #CFCFCF');
	}

	&-toolbar {

		.z-combobutton-content, .z-combobutton-button {
			border: 0;
			border-radius: 0px;
			background: transparent;
			line-height: @baseLineHeight + 2;
			border-left: 1px solid transparent;
		}

		&:hover {

			.z-combobutton-content, .z-combobutton-button {
				border: 1px solid @hoverColor;
				line-height: @baseLineHeight;
				//background: #C6E6F7;
				.verGradient(@hoverGradientStart, @hoverGradientEnd);
			}

			.z-combobutton-content {
				border-right: 0px;
			}
		}
	}
}