@import "~./zul/less/_header.less";

.z-groupbox {
	padding-top: 16px;
	
	&-header {		
		border: 1px solid @baseBorderColor;
		border-bottom: 0;
		width: 100%;
		font-weight: normal;
		color: @textColorGrayDark;
		font-family: @baseTitleFontFamily;
		font-size: @fontSizeMedium;
		line-height: @baseLineHeight;
		height: @baseIconHeight;
		padding-left: 10px;
		zoom: 1;

		.z-caption, .z-groupbox-title {
			padding: 0px 4px;
			background: white;
			width: auto;
			display: table-caption;
			cursor: pointer;
			position: relative;
			line-height: @baseLineHeight;

			.z-caption-content, .z-label {
				float: none;
			}

			&-readonly {
				cursor: default;
			}
		}
	}

	&-content {
		overflow: hidden;
		height: inherit; // Firefox bug: content cant be collapsed when scrolling
		padding: 5px;
		border: 1px solid @baseBorderColor;
		border-top: 0;
		display: block;	
		zoom: 1;
	}

	&-notitle {
		padding: 0;

		.z-groupbox-content {
			border-top: 1px solid @baseBorderColor;
		}
	}

	&-collapsed .z-groupbox-header {
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
	}

	&-3d {
		padding: 0;

		.z-groupbox-header {
			padding: 3px 4px;
			border-bottom: 1px solid @baseBorderColor;
			font-weight: bold;
			line-height: @baseLineHeight;
			.verGradient();
			height: auto;

			.z-caption, .z-groupbox-title {
				margin: 0;
				padding: 0;
				background: none;
				width: 100%;
				position: static;
				top: 0px;
				display: inline-block;
			}

			.z-caption-content {
				padding: 4px 0px 4px 0px;
				line-height: @baseIconHeight;
			}
		}
	}
}
