@import "~./zul/less/_header.less";

.z-popup {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	.borderRadius('1px');
	.boxShadow('0 0 15px rgba(0, 0, 0, 0.35)');

	&-content {
		.verGradient(#FFFFFF, #F5F5F5);
		border: 1px solid #CFCFCF;
		color: #555555;
		line-height: @baseLineHeight;
		padding: 10px;
		height: 100%;
		font-weight: normal;
		font-family: @baseContentFontFamily;
		font-size: @fontSizeMedium;
	}
}

// notification
.z-notification {
	position: absolute;
	top: 0;
	left: 0;
	color: #FFFFFF;
	& > .z-notification-icon {
		position: absolute;
		font-size: 28px;
		top: 16px;
		z-index: 2;
		left: 11px;
	}
}
.z-notification-left + 
.z-notification-icon {
	left: 23px;
}
.z-notification-up +
.z-notification-icon {
	top: 26px;
}
.z-notification-content {
	width: 250px;
	min-height: 130px;
	position: relative;
	padding: 15px 18px 15px 45px;
	overflow: hidden;
	font-family: @baseContentFontFamily;
	font-size: @fontSizeSmall;
	font-weight: normal;
	.borderRadius('10px');
	.boxShadow('1px 1px 3px rgba(0, 0, 0, 0.35)');
}
.z-notification-pointer ~
.z-notification-content {
	min-height: 60px; // fix for IE9
	height: 60px;
	width: 125px;
	vertical-align: middle;
	display: table-cell;
	padding: 5px 18px 5px 45px;
	.borderRadius('5px');
}
.z-notification-pointer {
	position: absolute;
	display: none;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	z-index: 100;
}
<%-- notification: base style --%>
.z-notification-left,
.z-notification-right,
.z-notification-up,
.z-notification-down {
	border: 10px solid transparent;
}
.z-notification-left {
	border-right-color: rgba(51, 51, 51, 0.9);
}
.z-notification-right {
	border-left-color: rgba(51, 51, 51, 0.9);
}
.z-notification-up {
	border-bottom-color: rgba(51, 51, 51, 0.9);
}
.z-notification-down {
	border-top-color: rgba(51, 51, 51, 0.9);
}

// bug ZK-1135: IE8 does not support rgba
@infoColor:    rgba(33, 155, 166, 0.88);
@warningColor: rgba(234, 67, 23, 0.88);
@errorColor:   rgba(190, 0, 5, 0.88);

<%-- notification: info --%>
.z-notification-info .z-notification-content {
	background-color: @infoColor;
}
.z-notification-info .z-notification-left {
	border-right-color: @infoColor;
}
.z-notification-info .z-notification-right {
	border-left-color: @infoColor;
}
.z-notification-info .z-notification-up {
	border-bottom-color: @infoColor;
}
.z-notification-info .z-notification-down {
	border-top-color: @infoColor;
}

<%-- notification: warning --%>
.z-notification-warning .z-notification-content {
	background-color: @warningColor;
}
.z-notification-warning .z-notification-left {
	border-right-color: @warningColor;
}
.z-notification-warning .z-notification-right {
	border-left-color: @warningColor;
}
.z-notification-warning .z-notification-up {
	border-bottom-color: @warningColor;
}
.z-notification-warning .z-notification-down {
	border-top-color: @warningColor;
}

<%-- notification: error --%>
.z-notification-error .z-notification-content {
	background-color: @errorColor;
}
.z-notification-error .z-notification-left {
	border-right-color: @errorColor;
}
.z-notification-error .z-notification-right {
	border-left-color: @errorColor;
}
.z-notification-error .z-notification-up {
	border-bottom-color: @errorColor;
}
.z-notification-error .z-notification-down {
	border-top-color: @errorColor;
}


.z-notification-close {
	position: absolute;
	cursor: pointer;
	width: 12px;
	height: 12px;
	top: 8px;
	right: 8px;
	line-height: 11px;
	padding: 0 2px;
	opacity: 0.6;
	font-size: 10px;

	&:hover {
		.borderRadius('2px');
		background: #FFFFFF;
		opacity: 1;
	}
}
.z-notification-pointer ~ .z-notification-close {
	top: 5px;
	right: 5px;
}
.z-notification-right ~ 
.z-notification-close {
	top: 5px;
	right: 17px;
}
.z-notification-up ~
.z-notification-close {
	top: 17px;
}
.z-notification-info .z-notification-close:hover {
		color: @infoColor;
}
.z-notification-warning .z-notification-close:hover {
		color: @warningColor;
}
.z-notification-error .z-notification-close:hover {
		color: @errorColor;
}