@import "~./zul/less/_header.less";

.z-progressmeter {
	height: @baseIconHeight;
	border: 1px solid @progressmeterBorderColor;
	.borderRadius(@baseBorderRadius);
	background: @baseBackgroundColor 0 0 repeat-x;
	.encodeThemeURL(background-image, '~./zul/img/misc/prgmeter-anim.gif');
	text-align: left;
	overflow: hidden;

	&-image {
		font-size: 0;
		display: inline-block;  // inline-block has filled bug in Firefox
		vertical-align: top;  // prevent filled bug
		height: @baseIconHeight - 2;
		line-height: 0;
		background-color: @progressmeterBackgroundColor;
	}

	&-indeterminate {
		position: relative;
		opacity: 0.9;
		width: 150%;

		>.z-progressmeter-image {
			position: absolute;
			height: 100%;
			animation: decrease 1.5s 0.5s infinite;
		}

		@keyframes decrease {
			from { left: -80%; width: 80%; }
			to { left: 110%; width: 10%; }
		}
	}
}
