@import "~./zul/less/_header.less";

.z-separator {
	overflow: hidden;
	&[data-orient="vertical"] {
		display: inline-block;
		width: 10px;
		&[data-bar="true"] {
			background-position: top center; 
			background-repeat: repeat-y;
		}
	}
	&[data-orient="horizontal"] {
		height: 7px;
		line-height: 0;
		font-size: 0;
		&[data-bar="true"] {
			background-position: center left; 
			background-repeat: repeat-x;
		}
	}
	&[data-bar="true"] {
		background-image: url(${c:encodeURL('~./img/dot.gif')});
	}
}