@import "~./zul/less/_header.less";

.z-anchorlayout,
.z-anchorlayout-body,
.z-anchorchildren {
	overflow: hidden;
}

.z-anchorchildren {
    float: left; padding: 0; margin: 0;
}

.anchorlayoutPatch();