@import "~./zul/less/_header.less";

@errorboxColor: #990000;
@errorboxBorderColor: @errorboxColor;
@errorboxBackgroundColor: #FFEEEE;

.z-textbox,
.z-decimalbox,
.z-intbox,
.z-longbox,
.z-doublebox {
	background: @baseBackgroundColor;
	font-family: @baseContentFontFamily;
	font-size: @fontSizeMedium;
	font-weight: normal;
	padding: 4px 5px 3px;
	border: 1px solid @baseBorderColor;
	margin: 0;
	min-height: @baseButtonHeight;
	.borderRadius(@borderRadiusSmall);
	line-height: @baseLineHeight;
	color: @baseTextColor;

	&:focus {
		.boxShadow('inset 1px 1px 1px rgba(210, 210, 210, 0.75)');
	}
	&[readonly] {
		background: @readonlyBackgroundColor;
		border-color: @readonlyBorderColor;
	}
	&[readonly]:focus {
		.boxShadow('none');
	}

	&-invalid {
		background: @baseBackgroundColor;
		border-color: @invalidBorderColor;
		margin-right: -1px;
	}
	&[disabled] {
		.disabledOpacity();
		cursor: default !important;
		color: @disabledColor !important;
		background: @disabledBackgroundColor !important;
	}
}

// Inplace editing
.z-textbox-inplace,
.z-decimalbox-inplace,
.z-intbox-inplace,
.z-longbox-inplace,
.z-doublebox-inplace {
	border: 0;
	padding: 3px;
	background: none;
	resize: none;
}

// error box
.z-errorbox {
	position: absolute;
	top: 0;
	left: 0;
	color: @errorboxColor;
	width: 260px;
	& > .z-errorbox-icon {
		position: absolute;
		font-size: 14px;
		top: 7px;
		z-index: 2;
		left: 7px;
		color: @errorboxColor;
	}
}
.z-errorbox-left + 
.z-errorbox-icon {
	left: 15px;
}
.z-errorbox-up +
.z-errorbox-icon {
	top: 15px;
}
.z-errorbox-content {
	width: 100%;
	position: relative;
	border: 1px solid @errorboxBorderColor;
	background: @errorboxBackgroundColor;
	overflow: hidden;
	font-family: @baseContentFontFamily;
	font-size: @fontSizeSmall;
	font-weight: normal;
	vertical-align: middle;
	padding: 5px 20px 5px 26px;
	.boxShadow('1px 1px 3px rgba(0, 0, 0, 0.35)');
}

.z-errorbox-pointer {
	position: absolute;
	display: none;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	z-index: 100;
}
// errorbox arrows: base style
.z-errorbox-left,
.z-errorbox-right,
.z-errorbox-up,
.z-errorbox-down {
	border: 6px solid transparent;
}

// bug ZK-1135: IE8 does not support rgba

.z-errorbox-left {
	border-right-color: @errorboxColor;
}
.z-errorbox-right {
	border-left-color: @errorboxColor;
}
.z-errorbox-up {
	border-bottom-color: @errorboxColor;
}
.z-errorbox-down {
	border-top-color: @errorboxColor;
}


.z-errorbox-close {
	position: absolute;
	cursor: pointer;
	width: @baseIconWidth - 4;
	height: @baseIconHeight - 4;
	top: 8px;
	right: 8px;
	line-height: @baseLineHeight - 3;
	padding: 0 2px;
	opacity: 0.6;
	font-size: @fontSizeXSmall;

	&:hover {
		.borderRadius(@borderRadiusSmall - 1);
		background: #FFFFFF;
		opacity: 1;
	}
}
.z-errorbox-pointer ~ .z-errorbox-close {
	top: 7px;
	right: 7px;
}

.z-errorbox-right ~ 
.z-errorbox-close {
	top: 7px;
	right: 14px;
}

.z-errorbox-up ~
.z-errorbox-close,
.z-errorbox-down ~
.z-errorbox-close {
	right: 7px;
}
.z-errorbox-up ~
.z-errorbox-close {
	top: 15px;
}
.z-errorbox-close:hover {
	color: @errorboxColor;
}