/* MD3 Absolute Layout — position relative container */

@layer zk-components {
.z-absolutelayout {
    position: relative;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}

.z-absolutechildren {
    position: absolute;
    box-sizing: border-box;
}
}
