
p, div, span, label, a, li, dt, dd, input, textarea, pre, body {
	font-size: small;
}
button {
	font-size: x-small;
}
input.button{
	font-size: x-small; 
}
input.file {
	font-size: small; 
}
legend {
	font-size: small;
}
.caption input, .caption td {
	font-size: x-small;
}
.caption td.caption {
	font-size: small;
}
.caption button {
	font-size: xx-small;
}
.caption a, .caption a:visited {
	font-size: x-small;
}
td.lwt-embedded, td.mwt-embedded, td.rwt-embedded,
td.lwt-popup, td.rwt-popup, td.mwt-popup,
td.lwt-modal, td.mwt-modal, td.rwt-modal,
td.lwt-highlighted, td.mwt-highlighted, td.rwt-highlighted,
td.lwt-overlapped, td.mwt-overlapped, td.rwt-overlapped,
td.lwt-wndcyan, td.mwt-wndcyan, td.rwt-wndcyan {
	font-size: small;
}
.toolbar a, .toolbar a:visited, .toolbar a:hover {
	font-size: x-small;
}
div.tree-head th, div.listbox-head th, div.grid-head th, div.listbox-paging th, div.grid-paging th {
	font-size: small;
}
div.head-cell-inner {
	font-size: small;
}
div.tree-body td, div.listbox-body td, div.listbox-paging td {
	font-size: small;
}
div.gc {
	font-size: small;
}
tr.item, tr.item a, tr.item a:visited {
	font-size: small;
}
.tab, .tab a, a.tab {
	font-size: x-small;
}
.tabsel, .tabsel a, a.tabsel {
	font-size: x-small;
}
.tabdis, .tabdis a, a.tabdis {
	font-size: x-small;
}
.tabdissel, .tabdissel a, a.tabdissel {
	font-size: x-small;
}
div.menubar a, div.menubar a:visited, div.menubar a:hover, div.menupopup a, div.menupopup a:visited, div.menupopup a:hover {
	font-size: x-small;
}
.comboboxpp td {
	font-size: x-small;
}
.comboboxpp td span {
	font-size: xx-small;
}
div.paging, div.paging a {
	font-size: x-small;
}
div.paging span {
	font-size: x-small;
}
table.calyear td {
	font-size: small;
}
table.calmon td, tr.calday td, tr.calday td a, tr.calday td a:visited {
	font-size: x-small;
}
tr.caldow td {
	font-size: x-small;
}