@import "~./zul/less/_header.less";

@iconHoverBackgoundColor: #DFF2FC;

.z-tabbox {
	overflow: hidden;
}

.closeHoverStyle() {
	background-color: @iconHoverBackgoundColor;
	border: 1px solid #8FB9D0;
	border-radius: 4px;
	line-height: 13px;
	text-align: center;
}

.z-tabs {
	overflow: hidden;
	border: 0;
	padding: 0;
	margin: 0;
	position: relative;

	&-icon-img {
		color: #A2A2A2;
	}

	& > &-right, 
	& > &-left,
	& > .z-toolbar-tabs-outer > &-right, 
	& > .z-toolbar-tabs-outer > &-left {
		display: none;		
	}

	&-header {
		width: 100%;
		margin: 0;
		position: relative;
		overflow: hidden;
		zoom: 1;
		margin: 0px;		
	}

	&-cnt {
		padding-left: 0;
		padding-top: 0;
		border-bottom: 1px solid #E1E1E1;
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		display: block;
		margin: 0;
		width: 100%;
		zoom: 1;
		-moz-user-select: none;
	}

	& > .z-toolbar-tabs-outer > &-cnt {
		border-bottom: 1px solid #E1E1E1;
	}

	&-cnt > &-edge {
		float: left;
		width: 1px;
		height: 1px;
		margin: 0 !important;
		padding: 0 !important;
		border: 0 none !important;
		background: transparent !important;
		font-size: 0 !important;
		line-height: 0 !important;
		overflow: hidden;
		zoom: 1;
	}

	&-cnt > .z-clear {
		height: 0;
	}

	&-space {
		font-size: 0;
		line-height: 0;
		background: none;
		border: 0;
		height: auto;
	}

	&-scroll {
		border: 0;
		padding-bottom: 0;
		zoom: 1;
	}

	&-scroll > &-header,
	&-scroll > .z-toolbar-tabs-outer > &-header {
		margin: 0px 25px 0px 25px;
	}	

	&-scroll > &-right, 
	&-scroll > &-left,
	&-scroll > .z-toolbar-tabs-outer > &-right, 
	&-scroll > .z-toolbar-tabs-outer > &-left {
		.buttonBackground();
		right: 0;
		top: 0;
		width: 25px;
		height: 100%;
		display: block;
		text-align: center;
		cursor: pointer;
		position: absolute;
		z-index: 25;
		border: 1px solid #E1E1E1;
		border-radius: 4px 4px 0px 0px;
		padding-top: 7px;
	}

	&-scroll > &-left,
	&-scroll > .z-toolbar-tabs-outer > &-left {
		left: 0;
	}

	&-ver {
		float:left;
	}

	&-ver > &-up, 
	&-ver > &-down {
		display: none;		
	}

	&-ver > &-header > &-cnt {
		height: 4096px;
		border-right: 1px solid #E1E1E1;
		-moz-user-select: none;
	}

	&-ver > &-space {
		background: none;
		float: left;
		position: relative;
		border: 0;
		font-size: 0;
		line-height: 0;
		width: 0;
		height: auto;
	}

	&-ver&-scroll > &-header {
		margin: 24px 0px 24px 0px;
	}

	&-ver&-scroll > &-up, 
	&-ver&-scroll > &-down {
		.buttonBackground();
		cursor: pointer;
		height: 20px;
		position: absolute;
		z-index: 25;
		width: 100%;
		display: block;
		border: 1px solid #E1E1E1;
		border-bottom: 0px;
		border-radius: 4px;
		padding-top: 2px;
		height: 24px;
		text-align: center;			
	}

	&-ver&-scroll > &-up {	
		top: 0px;	
	}

	&-ver&-scroll > &-down {
		bottom: 0px;
	}

}

.z-tab {
	.buttonBackground();
	position: relative;
	font-family: @baseTitleFontFamily;
	font-size: @fontSizeMedium;
	cursor: default;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	border: 1px solid #C5C5C5;
	border-width: 1px 1px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	height: 32px;
	text-align: center;
	padding: 4px 20px 0px 8px;

	&:first-child {
		border-left: 1px solid #C5C5C5;
	}

	&-close {
		cursor: pointer;
		display: block;
		width: 15px;
		height: 15px;
		position: absolute;
		right: 3px;
		top: 8px;
		z-index: 15;
		opacity: .8;
		filter: alpha(opacity=80);
		zoom: 1;
		color: #7F7F7F;

		&:hover {
			.closeHoverStyle();
		}
	}

	&-noclose {
		display:none;
	}

	&-seld {
		background: 0;
		background-color: white;
		border-bottom: 1px solid white;
	}

	&-text {
		overflow: hidden;
		text-overflow: ellipsis;
		color: #555555;
		cursor: pointer;
		font-style: normal;
		font-family: @baseTitleFontFamily;
		font-size: @fontSizeMedium;
		font-size-adjust: none;
		padding:4px 0 4px;
		white-space: nowrap;
		display: block;
	}

	&-ver {
		float: none;
		border-width: 0px 0px 1px 1px;
		border-radius: 4px 0px 0px 4px;
		padding: 4px 4px 4px 16px;

		&:first-child {
			border-top: 1px solid #C5C5C5;
		};	
	}

	&-ver &-text {
		text-align:center;
	}

	&-ver > &-close {
		top: 9px;
		left: 3px;
	}

	&-ver&-seld {
		background: 0;
		background-color: white;
		border-right: 1px solid white;
		border-bottom: 1px solid #C5C5C5;
	}

}

.z-tabpanels {	
	zoom: 1; 
	overflow: hidden; 
	position: relative;
	border: 1px solid #E1E1E1;
	border-top: 0px;

	&-ver {
		border-left: 0px;
	}
}

.z-tabpanel {	
	padding: 5px;
	zoom: 1;
	border-top: none;

	&-accordion, accordion-lite {
		border: 1px solid #CFCFCF;
		border-top: 0;
		padding: 5px;
		zoom: 1;
	}

	&-cnt { /* Bug 2104974 */
		height: 100%;
	}

	&-ver {
		border: 0;
	}
}

.z-toolbar-tabs {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	padding: 0 4px;
	border-bottom: 1px solid #E1E1E1;
	height: 100%;

	&-outer {
		border-bottom: 0;
		overflow: auto;
		& > .z-tabs-header {
			padding-bottom: 0;
		}
	}

	&-body {
		padding-top: 2px;
	}
}


/* Selected */
.z-tab-seld .z-tab-hl {
	cursor: default;
	background-position: 0 0;
	margin: auto auto -1px;
}
.z-tab-seld .z-tab-hm {
	cursor: default;
	background-position: 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.z-tab-seld .z-tab-close {
	opacity: 1;
	filter: alpha(opacity=100);
}
.z-tab-seld .z-tab-hr {
	background-position: right 0;
}
.z-tab-seld .z-tab-text {
	color: #555555;
	cursor: default;
	font-weight: bold;
	font-style: normal;
	font-family: @baseTitleFontFamily;
	font-size: @fontSizeMedium;
	white-space: nowrap;
	padding:4px 0 5px;
}
.z-tab-seld .z-tab-hl:hover,
.z-tab-seld .z-tab-hl:hover .z-tab-hm {
	background-position: 0 0;
}
.z-tab-seld .z-tab-hl:hover .z-tab-hr {
	background-position: right 0;
}
.z-tab-disd .z-tab-hl:hover,
.z-tab-disd-seld .z-tab-hl:hover,
.z-tab-disd .z-tab-hl:hover .z-tab-hm,
.z-tab-disd-seld .z-tab-hl:hover .z-tab-hm,
.z-tab-disd .z-tab-hl,
.z-tab-disd-seld .z-tab-hl {
	background-position: 0 -128px;
}
.z-tab-disd .z-tab-hl:hover .z-tab-hr,
.z-tab-disd-seld .z-tab-hl:hover .z-tab-hr,
.z-tab-disd .z-tab-hr,
.z-tab-disd-seld .z-tab-hr,
.z-tab-disd .z-tab-hm ,
.z-tab-disd-seld .z-tab-hm {
	background-position: right -128px;
	cursor: default;
}
.z-tab-disd .z-tab-hl:hover .z-tab-text,
.z-tab-disd-seld .z-tab-hl:hover .z-tab-text {
	color: gray;
}
.z-tab-disd .z-tab-close:hover ,
.z-tab-disd-seld .z-tab-close:hover {
	background-position: 0 0;
}
.z-tab-disd .z-tab-hl,
.z-tab-disd-seld .z-tab-hl {
	color: gray;
	cursor: default;
	opacity: .4;
	filter: alpha(opacity=40);
}

.z-tab-disd .z-tab-text,
.z-tab-disd-seld .z-tab-text {
	cursor: default;
	font-style: normal;
	font-family: @baseTitleFontFamily;
	font-size: @fontSizeMedium;
	white-space: nowrap;
	padding:4px 0 4px;
	color: gray;
}



/* Selected */
.z-tab-ver-seld .z-tab-ver-close {
	opacity: 1;
	filter: alpha(opacity=100);
}
.z-tab-ver-seld .z-tab-ver-hl {
	background-position: 0 0;
	margin-right: -2px;
	cursor: default;
}
.z-tab-ver-seld .z-tab-ver-hl .z-tab-ver-hr,
.z-tab-ver-seld .z-tab-ver-hl:hover .z-tab-ver-hr {
	background-position: 0 bottom;
}
.z-tab-ver-seld .z-tab-ver-hm {
	background-position: 0 0;
	cursor: default;
}
.z-tab-ver-seld .z-tab-ver-text {
	color: #555555;
	cursor: default;
	font-weight: bold;
	white-space: nowrap;
}
.z-tab-ver-seld .z-tab-ver-hl:hover,
.z-tab-ver-seld .z-tab-ver-hl:hover .z-tab-ver-hm,
.z-tab-ver-disd .z-tab-ver-close,
.z-tab-ver-disd-seld .z-tab-ver-close:hover {
	background-position: 0 0;
}
/* Disabled */
.z-tab-ver-disd .z-tab-ver-hl,
.z-tab-ver-disd-seld .z-tab-ver-hl {
	color: gray;
	cursor: default;
	opacity: .6;
	filter: alpha(opacity=60);
}
.z-tab-ver-disd .z-tab-ver-hl, .z-tab-ver-disd-seld .z-tab-ver-hl,
.z-tab-ver-disd .z-tab-ver-hl:hover, .z-tab-ver-disd-seld .z-tab-ver-hl:hover {
	background-position: -512px 0;
}
.z-tab-ver-disd .z-tab-ver-hl .z-tab-ver-hr,
.z-tab-ver-disd-seld .z-tab-ver-hl .z-tab-ver-hr,
.z-tab-ver-disd .z-tab-ver-hl:hover .z-tab-ver-hr,
.z-tab-ver-disd-seld .z-tab-ver-hl:hover .z-tab-ver-hr {
	background-position: -512px bottom;
}
.z-tab-ver-disd .z-tab-ver-hl .z-tab-ver-hm,
.z-tab-ver-disd-seld .z-tab-ver-hl .z-tab-ver-hm,
.z-tab-ver-disd .z-tab-ver-hl:hover .z-tab-ver-hm,
.z-tab-ver-disd-seld .z-tab-ver-hl:hover .z-tab-ver-hm {
	background-position: -512px 0;
	color: gray;
	cursor: default;
}
.z-tab-ver-disd .z-tab-ver-text,
.z-tab-ver-disd-seld .z-tab-ver-text {
	cursor: default;
	color: gray;
}





/* Tabbox accordion */
.z-tabpanels-accordion{
	border-top: 1px solid #CFCFCF;
}
.z-tab-accordion-header {
	cursor: pointer;
	position: relative;
	zoom: 1;
	border: 1px solid #CFCFCF;
	border-top: 0;
}
.z-tab-accordion-text {
	cursor: pointer;
	color: #555555;
	font-family: @baseTitleFontFamily;
	font-weight: bold;
	font-size: @fontSizeMedium;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 30px;
	padding-bottom: 2px;
}

.z-tab-accordion-tl,
.z-tab-accordion-tr {
	background: transparent no-repeat 0 0;
	zoom: 1;
	height: 0;
	margin-right: 5px;
	font-size: 0;
	line-height: 0;
}
.z-tab-accordion-tr {
	position: relative;
	margin-right: -5px;
}
.z-tab-accordion-hl {
	background: transparent no-repeat 0 0;
	padding-left: 0;
	zoom: 1;
}
.z-tab-accordion-hr {
	background: transparent no-repeat 0 0;
	padding-right: 0;
	zoom: 1;
}
.z-tab-accordion-hm {
	  background-image: url(${c:encodeThemeURL('~./zul/img/tab/accd-hm.png')});
	overflow: hidden;
	padding: 5px 0 3px;
	zoom: 1;
}
.z-tab-accordion-hm:hover {
	  background-image: url(${c:encodeThemeURL('~./zul/img/tab/accd-hm-mouseover.png')});
}
.z-tab-accordion-close,
.z-tab-accordion-lite-close {
	background-color: transparent;
	background-repeat: no-repeat;
	  background-image: url(${c:encodeThemeURL('~./zul/img/tab/tab-close.gif')});
	cursor: pointer;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 15;
	opacity: .6;
	filter: alpha(opacity=60);
}
.z-tab-accordion-lite-close {
	  background-image: url(${c:encodeThemeURL('~./zul/img/tab/tab-close.gif')});
	right: 4px;
	top: 4px;
}
.z-tab-accordion-close-over,
.z-tab-accordion .z-tab-accordion-close:hover {
	  background-image: url(${c:encodeThemeURL('~./zul/img/tab/tab-close.gif')});
	background-position: right 0;
	opacity: 1.0;
	filter: alpha(opacity=100);
}
/* Selected */
.z-tab-accordion-seld .z-tab-accordion-close,
.z-tab-accordion-lite-seld .z-tab-accordion-lite-close {
	opacity: .8;
	filter: alpha(opacity=80);
}
/* Disabled */
.z-tab-accordion-disd .z-tab-accordion-header,
.z-tab-accordion-disd-seld .z-tab-accordion-header {
	color: gray;
	cursor: default;
	opacity: .6;
	filter: alpha(opacity=60);
}
.z-tab-accordion-disd .z-tab-accordion-close:hover,
.z-tab-accordion-disd-seld .z-tab-accordion-close:hover,
.z-tab-accordion-lite-disd .z-tab-accordion-lite-close:hover,
.z-tab-accordion-lite-disd-seld .z-tab-accordion-lite-close:hover {
	  background-image: url(${c:encodeThemeURL('~./zul/img/tab/tab-close.gif')});
	background-position: right 0;
	opacity: .6;
	filter: alpha(opacity=60);
}
.z-tab-accordion-disd .z-tab-accordion-text,
.z-tab-accordion-disd-seld .z-tab-accordion-text {
	cursor: default;
	color: gray;
}
/* ZK Tabbox accordion-lite */
.z-tabpanels-accordion-lite {
	border: 0;
	border-top: 1px solid #CFCFCF;
}
.z-tab-accordion-lite-header {
	overflow: hidden;
	zoom: 1;
	cursor: pointer;
	position: relative;
	border: 1px solid #CFCFCF;
	border-top: 0;
}
.z-tab-accordion-lite-text {
	cursor: pointer;
	color: #555555;
	font-family: @baseTitleFontFamily;
	font-size: @fontSizeMedium;
	line-height: 15px;
	text-decoration: none;
	padding-right: 30px;
	padding-left: 5px;
}

.z-tab-accordion-lite-tl,
.z-tab-accordion-lite-tr,
.z-tab-accordion-lite-tm {
	background: transparent no-repeat 0 0;
	background-color: #F1F1F1;
	display: block;
}
.z-tab-accordion-lite-tm:hover {
	background-color: #E6F5FC;
}
.z-tab-accordion-lite-tl {
	zoom: 1;
	padding-left: 0;
	line-height: 0;
	text-decoration: none;
}
.z-tab-accordion-lite-tr {
	padding-right: 0;
}
.z-tab-accordion-lite-tm {
	padding:4px 0 3px 0;
	overflow: hidden;
}
.z-tab-accordion-lite-close-over,
.z-tab-accordion-lite .z-tab-accordion-lite-close:hover {
	  background-image: url(${c:encodeThemeURL('~./zul/img/tab/tab-close.gif')});
	background-position: right 0;
	opacity: 1;
	filter: alpha(opacity=100);
}

/* Disabled */
.z-tab-accordion-lite-disd a,
.z-tab-accordion-lite-disd-seld a {
	color: gray;
	cursor: default;
	opacity: .6;
	filter: alpha(opacity=60);
}
.z-tab-accordion-lite-disd .z-tab-accordion-lite-text,
.z-tab-accordion-lite-disd-seld .z-tab-accordion-lite-text {
	cursor: default;
	color: gray;
}
.z-tab-accordion-spacing {
	border-bottom: 1px solid #CFCFCF;
}

.z-tab-accordion-lite-tm .z-caption-l,
.z-tab-accordion-hm .z-caption-l,
.z-tab-ver-hm .z-caption-l {
	padding-left: 5px;
}